.filter_film {}

.background_movie_light_off {
    display: none;
}

.background_movie_light_off.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    z-index: 98;
}

.player_movie_widget {
    position: relative;
    margin-top: 10px;
    padding: 10px;
    background-color: #091724;
    z-index: 111;
}

.player_movie_widget_wrapper {
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

.swap_server {
    display: inline-flex;
    align-items: center;
    margin-top: 20px;
    padding: 3px 15px 8px 15px;
    background-color: #00233a;
}

.swap_server span {
    display: block;
    margin-top: 5px;
    padding: 7px 15px;
    background-color: #000d16;
    color: white;
}

.swap_server .server_list {
    overflow: hidden;
    list-style-type: none;
    margin-left: 15px;
}

.swap_server .server_list li {
    float: left;
    margin-left: 5px;
    margin-top: 5px;
}

.swap_server .server_list li a {
    white-space: nowrap;
    display: block;
    text-decoration: none;
    color: white;
    padding: 8px 15px;
    background-color: #001727;
    border: 1px solid rgb(71, 71, 71);
    transition: all 0.25s ease;
}

.server_list .server.active a {
    background-color: #eb3349;
}

.swap_server .server_list .server:not(.active) a:hover {
    color: #eb3349;
    background-color: #000000;
    transition: 0s;
}

.player_movie_widget_wrapper .tools {
    display: flex;
    margin-left: auto;
    align-items: center;
    list-style-type: none;
}

.player_movie_widget_wrapper span {
    color: white;
}

.player_movie_widget_wrapper .tools li {
    display: flex;
    user-select: none;
    margin-left: 15px;
    align-items: center;
    line-height: 30px;
}

.toggle_light span {
    white-space: nowrap;
}

.btn_toggle_light {
    margin-left: 5px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    border-radius: 50%;
    background-color: rgb(65, 65, 65);
    text-align: center;
    cursor: pointer;
}

.btn_toggle_light.active {
    background-color: #eb3349;
}

.autoNext_episode span {
    white-space: nowrap;
}

.btn_autoNetx_episode {
    position: relative;
    height: 30px;
    width: 66px;
    padding: 0px 2px;
    margin-left: 5px;
    border-radius: 20px;
    background-color: rgb(65, 65, 65);
}

.btn_autoNetx_episode::before {
    content: 'On';
    position: absolute;
    line-height: 30px;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    text-align: center;
    border-radius: 50%;
    color: white;
    cursor: pointer;
}

.btn_autoNetx_episode::after {
    content: 'Off';
    position: absolute;
    height: 30px;
    width: 30px;
    line-height: 30px;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    text-align: center;
    border-radius: 50%;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn_autoNetx_episode.active {
    background-color: #eb3349;
}

.btn_autoNetx_episode.active::before {
    content: 'Off';
    transform: translate(-33px, -50%);
}

.btn_autoNetx_episode.active::after {
    content: 'On';
    transform: translate(37px, -50%);
    color: #eb3349;
}

.download_movie {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 15px 0px;
    color: white;
}

.download_movie h3 {
    margin-left: 5px;
}

.download_movie .download_list {
    list-style-type: none;
    overflow: hidden;
    margin-left: 15px;
    padding: 3px 15px 8px 15px;
    background-color: #00233a;
}

.download_movie .download_list li:first-child {
    margin-left: 0px;
}

.download_movie .download_list li {
    float: left;
    margin-right: 5px;
    margin-top: 5px;
}

.download_movie .download_list li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px 25px;
    background-color: rgb(0, 10, 29);
    transition: all 0.25s ease;
}

.download_movie .download_list li a:hover {
    background-color: #eb3349;
}

.movie_summary {
    position: relative;
    margin-top: 10px;
    padding: 10px;
    color: white;
    background-color: #091724;
}

.movie_summary .rate_movie {
    display: flex;
}

.movie_summary .rate_movie h3 {
    color: #eb3349;
    margin-right: 10px;
}

.rate_movie span {
    margin-top: 2px;
}

.follow_movie {
    margin-top: 10px;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 9px 30px;
    background-color: rgb(22, 143, 173);
}

.follow_movie .material-icons {
    margin-left: 5px;
}

.follow_movie.active {
    color: rgb(0, 252, 84);
}

.movie_summary_content {
    margin-top: 20px;
}

.movie_summary_content h2 {
    color: rgb(230, 88, 18);
    margin-bottom: 5px;
}

.movie_summary_content span span {
    white-space: nowrap;
}

.movie_summary_content a {
    color: #eb3349;
    text-decoration: none;
}