.comments {
    padding: 5px;
    margin-top: 20px;
    background-color: rgb(0, 11, 30);
}

.comment_title {
    position: relative;
    border-bottom: 1px solid #3a3a3a;
    padding: 5px;
    padding-bottom: 20px;
}

.sort_comment {
    position: absolute;
    right: 5px;
    top: 5px;
}

.sort_comment #select_sort {
    cursor: pointer;
    border: none;
    padding: 5px;
}

.conmments_container {
    display: flex;
    align-items: center;
    padding: 10px;
}

.conmments_container img {
    height: 40px;
    width: 40px;
}

.conmments_container .text_comment {
    font-size: 16px;
    margin-left: 10px;
    flex-grow: 1;
    padding-left: 10px;
    padding-top: 10px;
    background: none;
    outline: none;
}

.conmments_container textarea:focus .post_comment {
    display: block;
}

.conmments_container .post_comment {
    display: none;
    cursor: pointer;
    border: none;
    padding: 0px 10px;
    height: 70px;
    color: white;
}

.conmments_container .post_comment[disabled] {
    background-color: rgb(65, 65, 65);
}

.conmments_container .post_comment:not([disabled]) {
    background-color: rgb(59, 108, 172);
}

.conmments_container .post_comment:not([disabled]):hover {
    background-color: rgb(24, 100, 199);
}

.post_comment.active {
    display: block;
}