/* Notification website */

.notify {
    position: relative;
    padding: 10px;
    padding-left: 50px;
    border: 1px solid rgb(28, 100, 159);
    background-color: #161515;
    margin-top: 10px;
}

.icon_notify {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    left: 0;
    top: 0;
    width: 40px;
    background-color: rgb(28, 100, 159);
    color: rgb(233, 14, 14);
    font-size: 25px;
}

.notify_content {
    color: rgb(230, 88, 18);
}